<div class= "main-container">
  <div class="container-padding">
    <div class="container">
     <%= simple_form_for [:trainers, @activity] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :photo, as: :file %>
        <%= f.input :category %>
        <%= f.input :equipment %>
        <%= f.input :description %>
        <%= f.input :duration, input_html: { min: '0', step: '15' } %>
      </div>
      <div class="form-actions ">
     <%= f.submit "Create class", class: "btn btn-flat btn-primary"%>
       </div>
     <% end %>
    </div>
  </div>
</div>


