<div>
<p>
  <strong>Type:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description%>
</p>
<%= link_to "edit", edit_trainers_activity_path(@activity) %>
<p>
  <strong>Length:</strong>
  <%= @activity.duration%>
</p>

<%= link_to 'Destroy', trainers_activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" } %>


</div>

 <div id="bookings">
  <% @bookings.each do |booking| %>
    <p id="booking-<%= booking.id %>"> <%= booking.schedule.date %> <%= booking.user.email %></p>
  <% end %>

 <%= link_to "Back", employees_activities_path %>


<p>
  <strong>Times of class:</strong>
</p>
  <div id="schedules">
  <% @schedules.each do |schedule| %>
        <p> <%= schedule.date %> <%= schedule.time %></p>
      <% end %>

<br>
<br>
<br>



<p>
  <strong>Add more times of class:</strong>
</p>


 <%= simple_form_for [:trainers, @activity, @schedule] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
   <%= f.input :date, as: :date, html5: true%>
   <%= f.input :time, as: :time, html5: true%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<button>View All classes</button>


