<div>
<p>
  <strong>Type:</strong>
  <%= @activity.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description%>
</p>
<%= link_to "edit", edit_trainers_activity_path(@activity) %>
<p>
  <strong>Length:</strong>
  <%= @activity.duration%>
</p>

<%= link_to 'Destroy', trainers_activity_path(@activity), method: :delete, data: { confirm: "Are you sure?" } %>
                                              

</div>

 <div id="bookings">
  <% @bookings.each do |booking| %>
        <p id="booking-<%= booking.id %>"> <%= booking.date %> <%= booking.user.email %></p>
        
      <% end %>

 <%= link_to "Back", employees_activities_path %>      

<button>View All classes</button>


