<div class="main-container"> 
  <div class="container-padding">
   <div class="color-grey mt-4 pt-1"><strong>Dear Trainer, what you want to do? </strong></div>
     <br>
     <br>

    <p class="color-grey"><strong>Type:</strong></p>
    <p><%= @activity.category%></p>

    <p class="color-grey"><strong>Description:</strong></p>
    <p><%= @activity.description%></p>

    <p class="color-grey"><strong>Duration:</strong></p>
    <p><%= @activity.duration%></p>
    <br>
    <br>  

    <p><%= link_to "edit", edit_trainers_activity_path(@activity), class: "btn btn-primary" %></p>
    <br>
    
    <p><%= link_to 'Destroy',  trainers_activity_path(@activity), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></ p>
    <br>
    <br>
    <br>

  <div class="border-top border-dark pt-5 mt-3">   
    <div id="bookings">
      <% @bookings.each do |booking| %>
        <p id="booking-<%= booking.id %>"> <%= booking.schedule.date %> <%= booking.user.email %></p>

      <% end %>
  </div>
    
      <p><i class="fas fa-calendar-check"> Class schedule:</i></p> 

  <div id="schedules">
   <% @schedules.each do |schedule| %>
      <p> <%= schedule.date %> <%= schedule.time %></p>
    <p><% end %></p>
      
    <p class="color-grey"><strong>Add more classes:</strong></p>

  <%= simple_form_for [:trainers, @activity, @schedule] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs mt-2 pt-4">
    <%= f.input :date, as: :date, html5: true%>
    <%= f.input :time, as: :time, html5: true%>
  </div>

  <div class="form-actions mt-4 pt-5">
    <%= f.button :submit, class: "btn btn-info"  %> 
  </div>
  <p><% end %></p>


   <p><%= link_to "View All Classes", trainers_dashboards_path, class: "btn btn-primary" %></p>
  
 </div>
   <p><%= link_to "Back", employees_activities_path, class: "btn btn-primary" %></p>
</div>

