<div class= "main-container">
  <div class="container-padding">
<!--  <h2><%= @employee.first_name%>'s dashboard</h2> -->
    <%= form_tag employees_activities_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              placeholder: "Find an activity you'd like to try out" %>
        <button name="button" type="submit" class="btn btn-flat btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>

    <h2 class="mt-5 mb-4"> Upcoming classes</h2>

    <div class="cards">
      <% @bookings.each do |booking| %>
        <% if booking.user_id == current_user.id%>
          <div class="entire-card">
            <%= link_to  employees_activity_booking_path(booking.schedule.activity_id, booking.id) do %>
              <div id ="user-bookings" class="card-product" text-align="center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= cl_image_path activity_image_key(@activity) %>)">
              </div>
              <div class="card-text">
                <h3 class="mt-2 mb-0"> <strong><%= "#{booking.schedule.activity.category.capitalize}"%></h3></strong>
                <p class="mt-0 mb-0"> <i class="far fa-clock"></i><%= " #{booking.schedule.time.hour}:#{booking.schedule.time.min} "%> </p>
                 <p>  <i class="far fa-calendar-alt"></i><%= "   #{booking.schedule.date.day}/#{booking.schedule.date.month}/#{booking.schedule.date.year}" %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <%end%>
    </div>






   <div class="hr-line"></div>


    <h2 class="mt-5 mb-4"> Favourite classes</h2>
    <div class="cards">
      <% @favorites.each do |favorite| %>
        <div class="entire-card">
          <%= link_to  employees_activity_path(favorite.activity_id) do %>
            <div id ="user-bookings" class="card-product" text-align="center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url('https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/18/2019/09/Aulas-de-Yoga.jpg')">
            </div>
            <div class="card-text"><h3 class="mt-2 mb-2"><strong><%= "#{favorite.activity.category}"%></h3></strong>
            </div>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
</div>


