
  <%= form_tag employees_activities_path, method: :get do %>
      <%= text_field_tag :query,
                          params[:query],
                          class: "form-control",
                          placeholder: "Find an activity you'd like to try out" %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary btn-sm btn-block" %>
    <% end %>
  </div>

<div class="container">
  <div class="cards">
    <% @activities.each do |activity| %>
      <%= link_to employees_activity_path(activity.id) do %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path activity_image_key(activity)%>)">
          <%= activity.category %>
        </div>
      <% end %>
    <% end %>
  </div>
</div> 


 

 
 


