<div class= "main-container">
  <div class="container-padding">

   <%= form_tag employees_activities_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query,
                              params[:query],
                              class: "form-control",
                              placeholder: "Find an activity you'd like to try out" %>
        <button name="button" type="submit" class="btn btn-flat btn-primary">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>


<div class="container">
  <div class="cards">
    <% @activities.each do |activity| %>
      <%= link_to employees_activity_path(activity.id) do %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path activity_image_key(activity)%>)">
          <%= activity.category %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

 </div>
</div>







