<div class="card-product">
  <img src="https://d357mttm70bw7x.cloudfront.net/normal_4015c1e1-a3bb-450a-9278-e361cfd4b22c.jpg" />
    <div class="card-product-infos">
  <div><h2>FIND A PROGRAM TO ACHIEVE YOUR <strong> MIND<strong> AND <strong>BODY.</strong></h2></div>
    
 
    <div class><strong><h2><%= @activity.category %></strong></h2>
  
    <p>Activity:  <%= @activity.description %></p>
    <p>Trainer :  <strong><%= @activity.user.bio %></p>
    <p>Equipment: <%= @activity.equipment %></strong></p>
    <p>Duration : <%= @activity.duration %> minutes</p>
    <p>Frequency : <%= @activity.frequency %></p>
      </div>
  </div>

<div>
<%= simple_form_for  [:employees, @activity, @booking ] do |f| %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :time, as: :time,  html5: true %>
  <%= f.submit "Book class", class: "btn btn-primary" %>
</div>


 <p>Don't forget to <strong>breathe deeply and drink water.</strong></p>

<% end %>
 
</div>




  

