<!DOCTYPE html>
<html>
  <head>
    <title>Teamwell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:title" content="TeamWell" />
    <meta property="og:type" content="Start your wellbeing journey" />
    <meta property="og:url" content="https://teamwell.herokuapp.com/" />
    <meta property="og:image" content="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80" />
    <meta property="og:description" content="TeamWell - happier and healthier employees" />
    <meta property="og:site_name" content="teamwell" />

      <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="https://teamwell.herokuapp.com">
    <meta name="twitter:title" content="TeamWell">
    <meta name="twitter:description" content="TeamWell - happier and healthier employees">
    <meta name="twitter:image:src" content="https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80">



  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>



    <%= yield %>
    <%= render 'shared/footer' %>
  </body>

</html>
